.cureo-accordion {
  position: static;

  display: flex;
  overflow: hidden;
  width: 75%;
  height: 380px;
  max-height: none;
  min-height: 380px;
  min-width: 475px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
  .cureo-accordion {
    height: 260px;
  }
}

.cureo-accordion-toggle {
  position: static;

  display: flex;
  width: 100%;
  height: 380px;
  max-height: none;
  min-height: 380px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-53-copy {
  overflow: hidden;
  width: 100%;
  height: 80%;
  max-width: none;
  margin-top: 0px;
  align-self: center;

  border-radius: 8px 8px 0px 0px;

  object-fit: cover;
  object-position: 50% 40%;
}

@media screen and (max-width: 991px) {
  .image-53-copy {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .image-53-copy {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .image-53-copy {
    width: 280px;
    height: 180px;
    border-radius: 0px;
  }
}

.cureo-heading-2 {
  display: block;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  direction: ltr;
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-transform: none;
  overflow-wrap: normal;
}

.cureo-heading-2:lang(de-de) {
  color: var(--cureo-grey);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cureo-heading-2.align-middle {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.align-middle {
    line-height: 22px;
  }
}

.cureo-heading-2.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-2.bold {
  font-weight: 700;
}

.cureo-heading-2.bold:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-2.bold.white.relative {
  position: relative;
  top: 0vh;
}

.cureo-heading-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-2.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.justify-left {
  display: flex;
}

.cureo-heading-2.justify-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.align-left {
  display: block;
  align-self: center;
  text-align: left;
}

.cureo-heading-2.align-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.cureo-heading-2.normal {
  font-weight: 400;
}

.cureo-heading-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.breakline {
  white-space: normal;
}

.cureo-heading-2.size-l {
  line-height: 35px;
}

.cureo-heading-2.height-l {
  line-height: 44px;
}

.cureo-heading-2.padding:lang(de-de) {
  color: var(--cureo-grey);
}

.cureo-heading-2.center:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.nocolor {
  color: var(--cureo-grey);
}

.cureo-heading-2.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-accordion-icon-copy-copy-copy-copy-copy {
  position: static;

  display: flex;
  width: 80px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;

  font-size: 20px;
}

.dropdown-list-3 {
  position: relative;
  display: block;
  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.popouttext {
  position: relative;

  display: flex;
  margin-top: 0px;
  padding: 17px 29px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;

  opacity: 1;
}

.rich-text-block-10 {
  position: relative;
  display: block;
}