._1000pxsection {
  display: flex;
  width: auto;
  height: auto;
  max-height: 220vh;
  max-width: 1600px;
  min-height: 40vh;
  min-width: 990px;
  margin: 150px auto;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection {
    width: auto;
    max-width: 990px;
    min-width: 320px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection {
    width: auto;
    max-width: 760px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection {
    display: flex;
    overflow: hidden;
    width: auto;
    max-height: 350vh;
    flex-direction: column;
    align-items: center;
  }
}

._1000pxsection.justify-middle {
  display: flex;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 1400px;
  min-height: 50vh;
  min-width: 990px;
  flex-direction: column;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.justify-middle {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.justify-middle {
    width: 500px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.justify-middle {
    width: 320px;
  }
}

._1000pxsection.justify-middle.auto-viewheight {
  height: auto;
  max-height: 250vh;
  max-width: 1400px;
  min-height: 50vh;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.justify-middle.auto-viewheight {
    width: auto;
    max-height: 200vh;
    min-width: 320px;
  }
}

._1000pxsection.justify-middle.auto-viewheight.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

._1000pxsection.justify-middle.auto-viewheight.bggray {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

._1000pxsection.justify-middle.auto-viewheight.topmargin {
  margin-top: 40px;
}

._1000pxsection.justify-middle.auto-viewheight.topmargin.overflow {
  max-width: 1600px;
  min-height: 80vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

._1000pxsection.justify-middle.auto-viewheight.topmargin.overflow.min-h-60 {
  min-height: 60vh;
}

._1000pxsection.justify-middle.auto-viewheight.topmargin.overflow.min-h-60.margin-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

._1000pxsection.justify-middle.auto-viewheight.gap {
  display: flex;
  grid-column-gap: 47px;
  grid-row-gap: 47px;
}

._1000pxsection.justify-middle.auto-viewheight.gap.hide {
  display: none;
}

._1000pxsection.justify-middle.margin {
  display: flex;
  overflow: hidden;
  width: auto;
  height: auto;
  max-height: 150vh;
  max-width: 1400px;
  min-height: 50vh;
  min-width: 990px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.justify-middle.margin {
    height: auto;
    min-height: 25vh;
    min-width: 320px;
  }
}

._1000pxsection.justify-middle.margin._50vh {
  display: flex;
}

._1000pxsection.justify-middle.margin.hide {
  display: none;
}

._1000pxsection.justify-middle.margin.max-height-none {
  max-width: 1600px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.justify-middle.margin.max-height-none {
    max-height: none;
  }
}

@media screen and (max-width: 991px) {
  ._1000pxsection.justify-middle._120vh {
    height: 120vh;
  }
}

._1000pxsection.justify-middle._120vh.mobilr65vh {
  width: auto;
  max-width: 1200px;
  min-width: 990px;
}

@media screen and (max-width: 479px) {
  ._1000pxsection.justify-middle._120vh.mobilr65vh {
    height: 65vh;
  }
}

._1000pxsection.justify-middle._200vh {
  height: 200vh;
}

@media screen and (max-width: 479px) {
  ._1000pxsection.justify-middle._200vh {
    height: 200vh;
  }
}

._1000pxsection.justify-middle._75vh.margin.margin-below {
  max-width: 1600px;
}

@media screen and (max-width: 767px) {
  ._1000pxsection.justify-middle._75vh.margin.margin-below {
    max-height: 200vh;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.justify-middle._75vh.margin.margin-below {
    width: 100%;
    max-width: 990px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

._1000pxsection.justify-middle.align-center {
  align-items: center;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

._1000pxsection.margin {
  margin-top: 30px;
}

._1000pxsection.margin.gap {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

._1000pxsection.margin.gap._50vh {
  height: 50vh;
}

._1000pxsection.margin.gap._50vh.align-center {
  align-items: center;
}

._1000pxsection.margin.gap.align-center.justify-middle.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

._1000pxsection.margin.gap.align-center.justify-middle.margin-none.full-width {
  width: 100%;
  max-width: none;
}

._1000pxsection.margin.l {
  display: flex;
  width: 1200px;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin.l {
    display: flex;
    width: 700px;
    height: 50vh;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin.l {
    width: 550px;
    height: 50vh;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin.l {
    width: 320px;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin.l.autovh {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin.l.autovh {
    flex-direction: column;
  }
}

._1000pxsection.margin.margin-below {
  margin-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

._1000pxsection.margin.margin-below.slider-section {
  margin-bottom: 61px;
}

._1000pxsection.margin.margin-below.slider-section.gap {
  overflow: hidden;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  flex: 0 auto;
}

._1000pxsection.margin.margin-below.flex-vertical {
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin.margin-below.flex-vertical {
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    min-height: 20vh;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

._1000pxsection.margin.margin-below.flex-vertical.margin-l-r {
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin.margin-below.flex-vertical.margin-l-r {
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin.margin-below.flex-vertical.margin-l-r {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin.margin-below.flex-vertical.margin-l-r {
    margin-right: 0px;
    margin-left: 0px;
    justify-content: flex-start;
  }
}

._1000pxsection.margin.margin-below.flex-vertical.margin-l-r.vertical {
  min-height: 20vh;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin.margin-below.flex-vertical.margin-l-r.vertical {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin.margin-below.flex-vertical.margin-l-r.vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

._1000pxsection.margin.margin-below.flex-vertical.margin-l-r.min-height-10 {
  min-height: 10vh;
}

._1000pxsection.margin.margin-below.margin-l {
  margin-top: 50px;
  margin-bottom: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

._1000pxsection.margin.margin-below.margin-l.max-w-1400 {
  max-width: 1400px;
}

._1000pxsection._15vh {
  display: block;
  height: 15vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
}

._1000pxsection._15vh.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._1000pxsection._50vh {
  height: 50vh;
}

._1000pxsection._50vh.margin {
  display: flex;
  width: auto;
  height: 60vh;
  max-width: 1600px;
  min-width: 990px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  ._1000pxsection._50vh.margin {
    width: auto;
    height: 65vh;
    max-width: 600px;
    min-width: 320px;
  }
}

._1000pxsection._50vh.margin.gap {
  overflow: hidden;
  width: auto;
  min-width: 990px;
}

._1000pxsection._50vh.margin.gap.align-middle {
  align-items: center;
}

._1000pxsection._50vh.margin-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

._1000pxsection._50vh.margin-medium {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  ._1000pxsection.autovh {
    height: auto;
  }
}

._1000pxsection._120vh {
  width: auto;
  height: 120vh;
  max-width: 1200px;
  min-width: 990px;
}

._1000pxsection._75vh {
  width: auto;
  height: auto;
  max-width: 1400px;
  min-width: 990px;
}

._1000pxsection._75vh.align-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  ._1000pxsection._75vh.align-middle {
    height: 100vh;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._75vh.align-middle {
    height: auto;
    min-height: 20vh;
    min-width: 320px;
    margin-top: 5vh;
  }
}

._1000pxsection._75vh.align-middle.gap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._1000pxsection._75vh.align-middle.gap.justify-top {
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  ._1000pxsection._75vh.align-middle.margin-none {
    max-width: 990px;
    min-height: 30vh;
    min-width: 550px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._75vh.align-middle.margin-none {
    min-width: 320px;
  }
}

@media screen and (max-width: 991px) {
  ._1000pxsection._75vh.align-middle.margin-none.height-auto {
    height: auto;
    max-height: none;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._75vh.align-middle.margin-none.height-auto.min-padding {
    padding-bottom: 10px;
  }
}

._1000pxsection._75vh.margin-top {
  margin-top: 50px;
}

._1000pxsection._75vh.margin-top.justify-middle.align-center {
  max-height: 120vh;
  max-width: 1400px;
}

._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200 {
  max-height: none;
  max-width: 1600px;
  min-height: auto;
  margin-bottom: 50px;
  align-self: auto;
}

@media screen and (max-width: 991px) {
  ._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200 {
    width: auto;
    max-width: 990px;
    min-width: 320px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200 {
    max-height: 300vh;
  }
}

._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200.extra-margin {
  margin-bottom: 75px;
}

@media screen and (max-width: 767px) {
  ._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200.extra-margin {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._75vh.margin-top.justify-middle.align-center.gap-small.height-max-200.extra-margin {
    margin-bottom: 10px;
  }
}

._1000pxsection._200vh {
  height: 200vh;
}

._1000pxsection._175vh {
  height: 175vh;
}

._1000pxsection._750pxh {
  height: auto;
}

._1000pxsection._750pxh.margin.margin-bottom {
  margin-bottom: 50px;
  flex-direction: column;
  flex-wrap: nowrap;
}

._1000pxsection._750pxh.margin.margin-bottom.hide {
  display: none;
}

._1000pxsection.diversitysection.margin.verical-middle {
  display: flex;
  width: auto;
  max-width: 1200px;
  min-width: 990px;
  flex-direction: column;
  justify-content: center;
}

._1000pxsection.diversitysection._50vh.margin {
  overflow: hidden;
  max-width: 1600px;
  min-width: 990px;
}

._1000pxsection.diversitysection._75vh {
  max-width: 1400px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.diversitysection._75vh {
    max-width: 990px;
    min-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.diversitysection._75vh {
    min-width: 450px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.diversitysection._75vh {
    min-width: 280px;
  }
}

._1000pxsection._25vh {
  height: 25vh;
}

._1000pxsection._25vh.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._1000pxsection.align-center {
  max-width: 1400px;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

._1000pxsection.align-center._150vh {
  height: 150vh;
}

._1000pxsection.align-center._150vh.margin.bottom {
  margin-bottom: 75px;
}

._1000pxsection.align-center._150vh.margin-bottom {
  margin-bottom: 77px;
}

._1000pxsection.align-center.justify-middle {
  max-width: 1400px;
}

._1000pxsection.align-center.justify-middle.margin {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

._1000pxsection.align-center.justify-middle.margin.padding {
  padding-top: 5px;
  padding-bottom: 5px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.align-center.justify-middle.margin.padding {
    max-width: 990px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.align-center.justify-middle.margin.margin-top-half {
    margin-top: 20px;
  }
}

._1000pxsection.align-center.justify-middle.margin-below {
  margin-bottom: 50px;
}

._1000pxsection.align-center.justify-middle.margin-below.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  ._1000pxsection.align-center.margin {
    overflow: hidden;
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.align-center.margin {
    max-width: 990px;
    min-width: 300px;
  }
}

._1000pxsection.align-center.heigh-min-75 {
  min-height: 75vh;
}

._1000pxsection.align-center.height-min-100 {
  min-height: 100vh;
}

._1000pxsection.align-center.height-min-100.height-max-500 {
  max-height: 500vh;
}

._1000pxsection.align-center.height-min-100.height-max-500.none {
  display: none;
}

._1000pxsection._100vh {
  min-height: 70px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection._100vh {
    max-width: 980px;
  }
}

._1000pxsection._100vh.vertical {
  flex-direction: column;
  flex-wrap: nowrap;
}

._1000pxsection._100vh.vertical.margin.margin-bottom {
  margin-bottom: 30px;
  grid-column-gap: 51px;
  grid-row-gap: 51px;
}

._1000pxsection._100vh.vertical.margin.margin-bottom.margin-l {
  width: 100%;
  min-height: 50vh;
  margin-top: 55px;
  margin-bottom: 55px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

._1000pxsection._100vh.vertical.margin.margin-bottom.margin-l.min-height-100 {
  min-height: 100vh;
}

._1000pxsection._100vh.vertical.margin.margin-bottom.margin-l.min-height-100.align-center.gap-s {
  max-width: 1600px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

@media screen and (max-width: 767px) {
  ._1000pxsection._100vh.vertical.margin.margin-bottom.margin-l.min-height-100.align-center.gap-s {
    max-height: 450vh;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection._100vh.vertical.margin.margin-bottom.margin-l.min-height-100.align-center.gap-s {
    width: 95%;
    max-height: 500vh;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

._1000pxsection.green {
  background-color: var(--cureo_green);
}

._1000pxsection._150vh {
  height: 150vh;
}

._1000pxsection.gap {
  min-height: 50vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

._1000pxsection.gap.border {
  max-height: 220vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;
}

._1000pxsection.gap.height-fixed-100 {
  display: none;
  max-height: 100vh;
  align-items: center;
}

._1000pxsection.gap.center {
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
}

._1000pxsection.gap.grey {
  overflow: hidden;
  background-color: hsla(0, 0.00%, 100.00%, 0.06);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.gap.grey {
    max-width: 760px;
  }
}

.grey {
  width: 100%;
  border-radius: 8px;
  background-color: hsla(0, 0.00%, 0.00%, 0.06);
}

._1000pxsection.min-h-100 {
  min-height: 100vh;
}

._1000pxsection.min-h-100.align-center {
  max-width: 1600px;
}

._1000pxsection.center {
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
}

._1000pxsection.green-light {
  background-color: hsla(81.95121951219512, 0.00%, 100.00%, 0.00);
}

._1000pxsection.grey {
  max-height: none;
  background-color: hsla(0, 0.00%, 0.00%, 0.06);
}

@media screen and (max-width: 767px) {
  ._1000pxsection.grey {
    width: auto;
    max-width: 760px;
  }
}

._1000pxsection.grey.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.grey.padding.rounded {
    max-width: 760px;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.grey.padding.rounded {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.grey.padding.rounded {
    min-width: 310px;
  }
}

._1000pxsection.grey.rounded {
  overflow: hidden;
  border-radius: 8px;
  background-color: hsla(0, 0.00%, 0.00%, 0.08);
}

@media screen and (max-width: 991px) {
  ._1000pxsection.grey.rounded {
    max-width: 760px;
  }
}

._1000pxsection.margin-top-none {
  margin-top: 0vh;
}

._1000pxsection.margin-top-none.margin-top-min {
  max-height: none;
  margin-top: 30px;
}

._1000pxsection.margin-top-none.blog {
  max-height: none;
  margin-bottom: 50px;
}

._1000pxsection.margin-5vh {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin-5vh {
    max-width: 900px;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin-5vh {
    width: 99%;
    max-width: 767px;
    min-width: 300px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin-5vh {
    width: 97%;
  }
}

._1000pxsection.margin-5vh.no-max-height {
  max-height: none;
}

._1000pxsection.margin-none {
  min-height: auto;
  margin-top: 0vh;
  margin-bottom: 0vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin-none {
    overflow: hidden;
    max-height: none;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin-none {
    display: flex;
    overflow: hidden;
    max-width: 480px;
    align-self: auto;
  }
}

._1000pxsection.margin-none.height-max-300 {
  max-height: none;
  margin-top: 2vh;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin-none.height-max-300 {
    width: auto;
    max-width: 990px;
    min-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin-none.height-max-300 {
    max-width: 760px;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin-none.height-max-300 {
    max-height: 500vh;
  }
}

._1000pxsection.margin-none.height-s {
  width: 99%;
  max-width: none;
  min-height: 30vh;
  min-width: auto;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.margin-none.height-s {
    max-width: none;
    min-height: 20vh;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.margin-none.height-s {
    min-height: 35vh;
    margin-bottom: 50px;
  }
}

._1000pxsection.margin-none.height-xs {
  max-height: 70vh;
}

._1000pxsection.meetergo {
  overflow: hidden;
  min-height: 20vh;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;
}

._1000pxsection.meetergo:lang(de-de) {
  padding-top: 18px;
  padding-bottom: 17px;
}

@media screen and (max-width: 479px) {
  ._1000pxsection.meetergo {
    max-height: 300vh;
    min-width: 300px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

._1000pxsection.meetergo.contact {
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 34px;
  padding-bottom: 34px;
  justify-content: center;
  align-items: center;

  border-width: 0px;
  border-color: var(--cureo_secondarygreen);

  background-color: var(--cureo_green);
}

._1000pxsection.shortmargin {
  margin-top: 25px;
  margin-bottom: 0px;
}

._1000pxsection.margin-s {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  ._1000pxsection.margin-s {
    max-height: 320vh;
  }
}

._1000pxsection.small {
  display: grid;
  min-height: 15vh;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  ._1000pxsection.small:lang(de-de) {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.small {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  ._1000pxsection.small:lang(de-de) {
    grid-template-columns: 1fr;
  }
}

._1000pxsection.spacing-none {
  margin-top: 50px;
  margin-bottom: 30px;
}

.div-block-104-copy-copy {
  display: grid;
  overflow: hidden;
  width: 45%;
  height: auto;
  max-height: 200vh;
  min-height: 50vh;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .div-block-104-copy-copy {
    max-height: 100vh;
    min-height: 25vh;
  }
}

@media screen and (max-width: 767px) {
  .div-block-104-copy-copy {
    width: 100%;
    min-height: 30vh;
  }
}

@media screen and (max-width: 479px) {
  .div-block-104-copy-copy {
    display: flex;
    width: 100%;
    max-height: 150vh;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    order: 1;
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
}

.image-90 {
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .image-90 {
    height: 200px;
  }
}

.image-91 {
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .image-91 {
    height: 150px;
  }
}

.image-92 {
  max-width: 80%;
  object-fit: contain;
}

@media screen and (max-width: 479px) {
  .image-92 {
    height: 200px;
    max-height: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.image-128 {
  padding-right: 15px;
  object-fit: contain;
}

.whitetransparentdiv-copy {
  display: flex;
  overflow: visible;
  width: 100%;
  height: auto;
  max-height: 200vh;
  min-height: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: stretch;
  order: 0;
  flex: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
  .whitetransparentdiv-copy {
    width: 100%;
    min-height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .whitetransparentdiv-copy {
    width: 100%;
    padding-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .whitetransparentdiv-copy {
    width: 99%;
    min-height: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.cureo-heading-1 {
  display: block;
  margin: 0px auto;
  justify-content: center;

  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
}

.cureo-heading-1:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
}

.cureo-heading-1.align-middle {
  display: block;
  align-self: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-middle:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-middle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.cureo-heading-1.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.white.lowerspace {
    margin-bottom: 5px;
  }
}

.cureo-heading-1.align-middle.white.lowerspace.margin-bottom {
  margin-bottom: 20px;
}

.cureo-heading-1.align-middle.white.outline {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.cureo-heading-1.align-middle.white.outline.shadow {
  text-shadow: 4px 6px 2px rgba(0,0,0,0.2);
}

.cureo-heading-1.align-middle.white.margin-t {
  margin-top: 20px;
}

.cureo-heading-1.align-middle.margin {
  display: block;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.margin-top {
    margin-top: 5px;
  }
}

.cureo-heading-1.align-middle.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.first {
    order: -1;
  }
}

.cureo-heading-1.margin.l {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.margin.l {
    margin-bottom: 11px;
  }
}

.cureo-heading-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-1.white.align-center {
  display: block;
  color: var(--lynx-white);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.white.align-center {
    display: block;
  }
}

.cureo-heading-1.align-left {
  display: block;
  margin-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;

  line-height: 32px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-left {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-left.margin.m {
    margin-bottom: 6px;
  }
}

.cureo-heading-1.align-left.bold {
  line-height: 32px;
  font-weight: 700;
}

.cureo-heading-1.align-left.bold.margin-bottom {
  margin-bottom: 10px;
}

.cureo-heading-1.margin-none {
  margin-right: 0px;
  margin-left: 0px;
  color: var(--cureo-grey);
  font-weight: 500;
}

.cureo-heading-1.align-center {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;

  color: var(--cureo-grey);
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-center:lang(de-de) {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center:lang(de-de) {
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center {
    order: -1;
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center {
  display: block;
  align-self: auto;
  text-align: center;
}

.cureo-heading-1.align-center.center.text-center {
  color: var(--cureo-grey);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-center.center.text-center {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.center.text-center {
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center.bold {
  font-weight: 700;
}

.cureo-heading-1.align-center.height-double {
  line-height: 64px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.height-double {
    order: -1;
  }
}

.cureo-heading-1.align-center.bold {
  font-weight: 700;
}

.cureo-heading-1.margin-bottom {
  margin-bottom: 10px;
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}

#w-node-_8508f521-55f5-d59d-6246-283a422956b5-422956b3 {
}
#w-node-_8508f521-55f5-d59d-6246-283a422956b6-422956b3 {
}
#w-node-_8508f521-55f5-d59d-6246-283a422956b7-422956b3 {
  justify-self: center;
}
#w-node-_8508f521-55f5-d59d-6246-283a422956b8-422956b3 {
}