.full_width_section {
  width: 100%;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.full_width_section.align-center.justify-middle {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.full_width_section.align-center.justify-middle._75vh {
  height: 75vh;
}

.full_width_section.align-center.justify-middle._75vh.green {
  width: auto;
  max-width: 1400px;
  min-width: 990px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border: 0px solid black;
  border-radius: 8px;

  background-color: var(--cureo_green);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.cureo-heading-1 {
  display: block;
  margin: 0px auto;
  justify-content: center;

  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
}

.cureo-heading-1:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
}

.cureo-heading-1.align-middle {
  display: block;
  align-self: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-middle:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-middle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.cureo-heading-1.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.white.lowerspace {
    margin-bottom: 5px;
  }
}

.cureo-heading-1.align-middle.white.lowerspace.margin-bottom {
  margin-bottom: 20px;
}

.cureo-heading-1.align-middle.white.outline {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.cureo-heading-1.align-middle.white.outline.shadow {
  text-shadow: 4px 6px 2px rgba(0,0,0,0.2);
}

.cureo-heading-1.align-middle.white.margin-t {
  margin-top: 20px;
}

.cureo-heading-1.align-middle.margin {
  display: block;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.margin-top {
    margin-top: 5px;
  }
}

.cureo-heading-1.align-middle.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.first {
    order: -1;
  }
}

.cureo-heading-1.margin.l {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.margin.l {
    margin-bottom: 11px;
  }
}

.cureo-heading-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-1.white.align-center {
  display: block;
  color: var(--lynx-white);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.white.align-center {
    display: block;
  }
}

.cureo-heading-1.align-left {
  display: block;
  margin-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;

  line-height: 32px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-left {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-left.margin.m {
    margin-bottom: 6px;
  }
}

.cureo-heading-1.align-left.bold {
  line-height: 32px;
  font-weight: 700;
}

.cureo-heading-1.align-left.bold.margin-bottom {
  margin-bottom: 10px;
}

.cureo-heading-1.margin-none {
  margin-right: 0px;
  margin-left: 0px;
  color: var(--cureo-grey);
  font-weight: 500;
}

.cureo-heading-1.align-center {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;

  color: var(--cureo-grey);
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-center:lang(de-de) {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center:lang(de-de) {
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center {
    order: -1;
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center {
  display: block;
  align-self: auto;
  text-align: center;
}

.cureo-heading-1.align-center.center.text-center {
  color: var(--cureo-grey);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-center.center.text-center {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.center.text-center {
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center.bold {
  font-weight: 700;
}

.cureo-heading-1.align-center.height-double {
  line-height: 64px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.height-double {
    order: -1;
  }
}

.cureo-heading-1.align-center.bold {
  font-weight: 700;
}

.cureo-heading-1.margin-bottom {
  margin-bottom: 10px;
}

.columns {
  width: 100%;
  height: 80%;
  max-width: 1400px;
  min-width: 990px;
  background-color: var(--cureo_green);
}

.column {
  display: flex;
  height: 100%;
  padding: 70px;
  flex-direction: column;
  justify-content: center;
}

.form-3 {
  padding: 19px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 8px;
}

.cureo-paragraph-2 {
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2 {
    font-size: 12px;
  }
}

.cureo-paragraph-2.align-center {
  text-align: center;
}

.cureo-paragraph-2.align-center.align-middle {
  width: 66%;
  align-self: center;
}

.cureo-paragraph-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white {
    font-weight: 400;
  }
}

.cureo-paragraph-2.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-2.margin {
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-2.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-2.height-none {
  line-height: 14px;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 18px;
    line-height: 14px;
  }
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
}

.button.cureo_mainbutton {
  margin-top: 30px;
  margin-right: 30px;

  border-width: 1px;
  border-radius: 8px;

  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  font-family: Roboto;
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}

.button.cureo_mainbutton:hover {
  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton {
    display: flex;
    width: 180px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton:global(.w--current) {
    width: 150px;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton {
    display: flex;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    align-self: auto;
    flex: 0 auto;

    font-size: 12px;
  }
}

.button.cureo_mainbutton.middle {
  display: flex;
  width: 20vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

  text-align: center;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.middle {
    width: 40vw;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.nomargin {
    margin-top: 0px;
  }
}

.button.cureo_mainbutton.blue {
  border-color: hsla(208.42105263157896, 65.52%, 5.69%, 1.00);
}

.button.cureo_mainbutton.blue:hover {
  background-color: hsla(177.1153846153846, 51.49%, 39.61%, 0.47);
}

.button.cureo_mainbutton.margin-none {
  margin-right: 0px;
}

.button.cureo_mainbutton.wide:global(.w--current) {
  display: none;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide {
    width: 200px;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide:global(.w--current) {
    width: 200px;
  }
}

.button.cureo_mainbutton.wide.media {
  display: block;
  margin-top: 10px;
  align-self: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton.wide.media {
    display: flex;
    height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide.media {
    font-size: 14px;
  }
}

.button.cureo_mainbutton.high2x {
  font-size: 18px;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.high2x {
    height: 40px;
    font-size: 16px;
  }
}

.button.cureo_mainbutton.width-2x {
  font-size: 18px;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.width-2x {
    width: 200px;
    font-size: 16px;
  }
}

.column-2 {
  height: 100%;
}

.div-block-158 {
  display: flex;
  height: 100%;
  padding: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-67 {
  width: 250px;
  height: 250px;
  border-radius: 999px;
  object-fit: cover;
}

.cureo-heading-2 {
  display: block;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  direction: ltr;
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-transform: none;
  overflow-wrap: normal;
}

.cureo-heading-2:lang(de-de) {
  color: var(--cureo-grey);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cureo-heading-2.align-middle {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.align-middle {
    line-height: 22px;
  }
}

.cureo-heading-2.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-2.bold {
  font-weight: 700;
}

.cureo-heading-2.bold:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.bold.white.relative {
  position: relative;
  top: 0vh;
}

.cureo-heading-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-2.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.justify-left {
  display: flex;
}

.cureo-heading-2.justify-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.align-left {
  display: block;
  align-self: center;
  text-align: left;
}

.cureo-heading-2.align-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.cureo-heading-2.normal {
  font-weight: 400;
}

.cureo-heading-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.breakline {
  white-space: normal;
}

.cureo-heading-2.size-l {
  line-height: 35px;
}

.cureo-heading-2.height-l {
  line-height: 44px;
}

.cureo-heading-2.padding:lang(de-de) {
  color: var(--cureo-grey);
}

.cureo-heading-2.center:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.nocolor {
  color: var(--cureo-grey);
}

.cureo-heading-2.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-3 {
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .cureo-heading-3 {
    font-size: 23px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 100%;
  }
}

.cureo-heading-3.align-middle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-3.align-middle {
    font-size: 24px;
    font-weight: 700;
  }
}

.cureo-heading-3.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-3.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-3.align-middle._28height {
  line-height: 28px;
  font-weight: 500;
}

.cureo-heading-3.bold {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .cureo-heading-3.bold {
    font-size: 24px;
  }
}

.cureo-heading-3.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-3.bold.align-center {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.cureo-heading-3.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-3.white.align-center.middle {
  text-align: center;
  text-decoration-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-3.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-3.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-3.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-3.centered {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-3.centered {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-3.centered {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-heading-3.centered.justify-middle {
  display: block;
  text-align: center;
}

.cureo-heading-3.centered.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-3.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-3.margin-none.align-center {
  align-self: center;
  text-align: center;
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}