.div-block-185 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-block-185.gap-10 {
  overflow: hidden;
  width: 100%;
  max-width: none;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media screen and (max-width: 991px) {
  .div-block-185.gap-10 {
    max-width: 990px;
    min-width: 320px;
  }
}

.div-block-185.gap-10.mb-20 {
  margin-bottom: 20px;
}

.div-block-185.gap-20 {
  grid-column-gap: 33px;
  grid-row-gap: 33px;
}

.div-block-186 {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .div-block-186 {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .div-block-186 {
    height: auto;
  }
}

.cureo-heading-1 {
  display: block;
  margin: 0px auto;
  justify-content: center;

  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
}

.cureo-heading-1:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
}

.cureo-heading-1.align-middle {
  display: block;
  align-self: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-middle:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-middle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.cureo-heading-1.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.white.lowerspace {
    margin-bottom: 5px;
  }
}

.cureo-heading-1.align-middle.white.lowerspace.margin-bottom {
  margin-bottom: 20px;
}

.cureo-heading-1.align-middle.white.outline {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.cureo-heading-1.align-middle.white.outline.shadow {
  text-shadow: 4px 6px 2px rgba(0,0,0,0.2);
}

.cureo-heading-1.align-middle.white.margin-t {
  margin-top: 20px;
}

.cureo-heading-1.align-middle.margin {
  display: block;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.margin-top {
    margin-top: 5px;
  }
}

.cureo-heading-1.align-middle.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.first {
    order: -1;
  }
}

.cureo-heading-1.margin.l {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.margin.l {
    margin-bottom: 11px;
  }
}

.cureo-heading-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-1.white.align-center {
  display: block;
  color: var(--lynx-white);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.white.align-center {
    display: block;
  }
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-1.align-left {
  display: block;
  margin-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;

  line-height: 32px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-left {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-left.margin.m {
    margin-bottom: 6px;
  }
}

.cureo-heading-1.align-left.bold {
  line-height: 32px;
  font-weight: 700;
}

.cureo-heading-1.align-left.bold.margin-bottom {
  margin-bottom: 10px;
}

.cureo-heading-1.margin-none {
  margin-right: 0px;
  margin-left: 0px;
  color: var(--cureo-grey);
  font-weight: 500;
}

.cureo-heading-1.align-center {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;

  color: var(--cureo-grey);
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-center:lang(de-de) {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center:lang(de-de) {
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center {
    order: -1;
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center {
  display: block;
  align-self: auto;
  text-align: center;
}

.cureo-heading-1.align-center.center.text-center {
  color: var(--cureo-grey);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-center.center.text-center {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.center.text-center {
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center.bold {
  font-weight: 700;
}

.cureo-heading-1.align-center.height-double {
  line-height: 64px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.height-double {
    order: -1;
  }
}

.cureo-heading-1.align-center.bold {
  font-weight: 700;
}

.cureo-heading-1.margin-bottom {
  margin-bottom: 10px;
}

.div-block-238 {
  width: 80%;
}

@media screen and (max-width: 479px) {
  .div-block-238 {
    width: 95%;
  }
}

.html_maps {
  overflow: hidden;
  height: 650px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  pointer-events: auto;
}

@media screen and (max-width: 479px) {
  .html_maps {
    height: 550px;
  }
}