.container-4 {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 0;
}

@media screen and (max-width: 991px) {
  .container-4 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: row;
    justify-content: flex-start;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container-4 {
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 479px) {
  .container-4 {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
}

.slider-item {
  width: 90vw;
  height: 75vh;
  align-self: center;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .slider-item {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .slider-item {
    height: 75vh;
  }
}

@media screen and (max-width: 479px) {
  .slider-item {
    display: flex;
    height: 90vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    flex: 0 auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.div-block-19 {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 100%;
  padding-right: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .div-block-19 {
    width: 50%;
    height: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-19 {
    height: 100%;
    flex-direction: row;
    border-radius: 0px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-19 {
    overflow: visible;
    width: 100%;
    height: 45%;
    margin-bottom: 5px;
    align-self: center;
    flex: 0 auto;

    border-radius: 8px;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

.image-8 {
  width: 100%;
  height: 100%;
  max-width: none;
  padding-right: 0px;

  border-radius: 8px;

  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .image-8 {
    margin-bottom: 15px;
    padding-right: 0px;
  }
}

.div-block-18 {
  display: flex;
  overflow: visible;
  width: 50%;
  height: 100%;
  max-width: none;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex: 0 0 auto;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .div-block-18 {
    width: 50%;
    height: 100%;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-18 {
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .div-block-18 {
    width: 100%;
    height: 45%;
    max-width: none;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 0px 10px;
    align-self: center;
  }
}

.heading-4 {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Roboto;
  font-size: 22px;
  line-height: 34px;
}

@media screen and (max-width: 991px) {
  .heading-4 {
    width: auto;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .heading-4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .heading-4 {
    font-family: Roboto;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
  }
}

.qualitysection {
  display: none;
  overflow: visible;
  width: 95%;
  height: 80vh;
  max-width: 1400px;
  min-width: 990px;
  margin-top: 50px;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0px;

  text-align: center;
}

@media screen and (max-width: 991px) {
  .qualitysection {
    width: 700px;
    height: 70vw;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .qualitysection {
    display: flex;
    width: 550px;
    height: 50vh;
    justify-content: space-between;
    align-items: center;

    background-image: url("https://cdn.prod.website-files.com/6548c6e5ab9a929dbb64e897/654b5150a0a7c558d16bd6cd_DSC04602_komp.jpg");
    background-position: 100% 0%;
    background-size: auto;

    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .qualitysection {
    width: 320px;
    height: 65vh;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-around;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat-x;
  }
}

.heading-4.first {
  order: -1;
}

.heading-4.first.left {
  width: 120%;
  padding-left: 0px;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .heading-4.first.left {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .heading-4.first.left {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .heading-4.first.left {
    width: 100%;
    align-items: center;
    font-size: 5vw;
    line-height: 100%;
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .heading-4.space {
    font-size: 5vw;
    line-height: 100%;
  }
}

.heading-4.center {
  align-items: center;
  text-align: center;
}

.heading-4.center.space {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 767px) {
  .heading-4.nospace {
    margin-top: 5px;
  }
}

.heading-4.leftalign {
  align-items: flex-start;
  align-self: center;
}

.heading-4.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.heading-4.white.centered {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .heading-4.sub {
    font-size: 1.1em;
  }
}

.heading-4.sub.nospace {
  margin-top: 0px;
}

.div-block-24 {
  display: flex;
  padding-right: 4px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .div-block-24 {
    margin-bottom: 10px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-24 {
    display: block;
    align-self: center;
  }
}

.button-2 {
  position: sticky;
  top: 0px;

  display: flex;
  overflow: auto;
  width: 25vh;
  height: 5vh;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: auto;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  border-radius: 8px;

  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);

  transition: background-color 200ms ease,box-shadow 200ms ease;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button-2:hover {
  border: 1px solid var(--cureo_green);
  background-color: hsla(81.95121951219512, 40.62%, 46.93%, 1.00);
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.2);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .button-2 {
    overflow: hidden;
    width: 22vw;
    height: 5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 767px) {
  .button-2 {
    width: 24vw;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .button-2 {
    display: flex;
    width: 35vw;
    height: 8vw;
    margin-bottom: 20px;
    padding: 5px;
    flex-direction: column;
    align-self: center;
    flex: 0 0 auto;

    font-family: Roboto;
    font-size: 3.2vw;
  }
}

.button-2.submit {
  width: 100px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 479px) {
  .button-2.submit {
    height: 10vw;
  }
}

.button-2.variation1 {
  display: flex;
  width: 15em;
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .button-2.variation1 {
    width: 10em;
    min-width: 6em;
  }
}

@media screen and (max-width: 479px) {
  .button-2.variation1.big {
    width: 12em;
    height: 4vh;
    font-size: 3.5vw;
    line-height: 20px;
  }
}

.button-2.onesize.management {
  width: 10em;
  max-width: 10em;
  min-width: 5em;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .button-2.onesize.management {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .button-2.onesize.management {
    width: 7em;
  }
}

@media screen and (max-width: 479px) {
  .button-2.onesize.management {
    width: 6rem;
  }
}

.button-2.relative {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .button-2.relative {
    display: flex;
    overflow: hidden;
    width: 22vw;
    height: 5vw;
    align-self: auto;

    font-size: 1.5vw;
  }
}

@media screen and (max-width: 767px) {
  .button-2.relative {
    overflow: hidden;
    width: 15vw;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .button-2.relative {
    width: 45%;
    height: 8vw;
    margin-right: 5px;
    margin-left: 5px;

    border-width: 0px;

    font-size: 2.5vw;
  }
}

.button-2.relative.sm {
  width: 22vh;
}

.button-2.relative.sm.s {
  width: 155px;
  height: 40px;
}

@media screen and (max-width: 991px) {
  .button-2.relative.sm.s {
    width: 180px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .button-2.relative.sm.s {
    width: 120px;
    height: 35px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}