.cureo_navbar {
  position: sticky;
  top: 0px;
  z-index: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  line-height: 2vw;

  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .cureo_navbar {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .cureo_navbar {
    position: relative;
    z-index: 999;
  }
}

.container-2 {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  order: 0;
  flex: 1;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .container-2 {
    flex-direction: row;
  }
}

.brand-2 {
  display: inline-block;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.image-2 {
  display: inline-block;
  width: 200px;
  height: auto;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .image-2 {
    width: 25vw;
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    width: 40vw;
  }
}

.nav-menu {
  display: flex;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    flex: 0 auto;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    align-self: center;
    flex: 0 auto;
  }
}

.dropdown {
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .dropdown {
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .dropdown {
    align-items: flex-start;
    font-size: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .dropdown {
    align-items: center;
    align-self: flex-start;
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .dropdown.navtext {
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
  }
}

.nav-link {
  z-index: 1;

  display: flex;
  height: 100%;
  padding-right: 20px;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto;
  font-size: 1.2vw;
  font-weight: 700;
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1920px) {
  .nav-link:global(.w--open) {
    font-size: 0.75vw;
  }
}

@media screen and (min-width: 1280px) {
  .nav-link:global(.w--current) {
    color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
    -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

.nav-link:hover {
  display: flex;
  padding-right: 20px;
  align-items: flex-start;

  opacity: 0.8;

  color: var(--untitled-ui-gray600);
  -webkit-text-stroke-color: var(--untitled-ui-gray400);
}

.nav-link:active {
  color: var(--cureo_green);
}

.nav-link:global(.w--open) {
  z-index: 1;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    display: flex;
    width: 20%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 20px;
    align-items: flex-start;

    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link:hover {
    display: flex;
    width: 20%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: flex-start;

    color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-left: 20px;
    align-items: flex-start;
    flex: 0 auto;
    font-size: 18px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .nav-link:hover {
    padding-left: 20px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    display: flex;
    width: auto;
    padding: 15px 20px;
    align-items: flex-start;
    align-self: flex-start;

    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav-link:hover {
    display: flex;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .nav-link:global(.w--open) {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .nav-link:global(.w--open):hover {
    width: auto;
    padding-left: 20px;
  }
}

.nav-link.topright {
  padding-left: 20px;
  font-size: 1vw;
}

@media screen and (max-width: 991px) {
  .nav-link.topright {
    padding-left: 20px;
    flex: 0 auto;
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link.topright:hover {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link.topright {
    padding-left: 20px;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.topright {
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 auto;

    font-size: 2vh;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.topright:hover {
    padding-left: 20px;
  }
}

.textnavmenu {
  font-size: 1vw;
}

.nav-link.cureo-paragraph-2:hover {
  color: hsla(0, 0.00%, 44.00%, 1.00);
}

.nav-link.cureo-paragraph-2:global(.w--current) {
  color: var(--cureo_green);
}

.cureo-paragraph-2 {
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link.cureo-paragraph-2.navtext {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link.cureo-paragraph-2.navtext {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.cureo-paragraph-2.navtext {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .nav-link.cureo-paragraph-2.navtext.navmargin1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
}

.image-12 {
  width: 6vw;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .image-12 {
    width: 9vw;
    font-size: 10vw;
  }
}

@media screen and (max-width: 767px) {
  .image-12 {
    width: 13vw;
    font-size: 12vw;
  }
}

@media screen and (max-width: 479px) {
  .image-12 {
    width: 11vh;
    height: auto;
    max-width: none;
    margin-left: 0px;
    padding-left: 0px;

    font-size: 4vh;
  }
}

@media screen and (max-width: 479px) {
  .image-12:hover {
    font-size: 2.5vh;
  }
}

.image-12.cureonavmenu {
  overflow: visible;
  width: 68px;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .image-12.cureonavmenu {
    width: 65px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .image-12.cureonavmenu {
    width: 80px;
    font-size: 22px;
    object-fit: scale-down;
  }
}

@media screen and (max-width: 479px) {
  .image-12.cureonavmenu {
    width: 80px;
  }
}

.dropdown-list {
  background-color: hsla(0, 31.84%, 68.70%, 1.00);
}

.dropdown-list:global(.w--open) {
  z-index: 1;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  box-shadow: 2px 5px 10px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
  .dropdown-list:global(.w--open) {
    position: relative;
    display: block;
    box-shadow: 6px 6px 10px -20px rgba(0,0,0,0.2);
  }
}

.dropdown-link {
  z-index: 1;
  padding-right: 20px;
  font-family: Roboto;
}

.dropdown-link:hover {
  border: 1px none black;
  background-color: hsla(81.77419354838709, 0.00%, 84.00%, 1.00);
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.dropdown-link:active {
  color: var(--cureo_green);
}

.dropdown-link:focus {
  color: var(--cureo_green);
}

.dropdown-link:global(.w--current) {
  padding-right: 20px;
  color: var(--cureo_green);
}

@media screen and (max-width: 767px) {
  .dropdown-link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-link {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;

    font-size: 16px;
    line-height: 13px;
    font-weight: 400;
  }
}

@media screen and (min-width: 1440px) {
  .dropdown-link.news:global(.w--current) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-link.news {
    display: flex;
    padding-left: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: Roboto;
    font-size: 1.75vh;
  }
}

.cureo-paragraph-2.align-center {
  text-align: center;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-paragraph-2.align-center.align-middle {
  width: 66%;
  align-self: center;
}

.cureo-paragraph-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white {
    font-weight: 400;
  }
}

.cureo-paragraph-2.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-2.margin {
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-2.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-2.height-none {
  line-height: 14px;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-2.navlink-text {
    font-size: 18px;
    line-height: 14px;
  }
}

.locales-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .locales-wrapper {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .locales-wrapper {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 0px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .locales-wrapper {
    display: flex;
    padding-top: 0px;
    padding-left: 0px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    align-self: flex-start;
    flex: 0 0 auto;

    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-4 {
    display: block;
    margin-left: 4px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-4 {
    display: inline-block;
    margin-left: 0px;
  }
}

.dropdown-toggle-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .dropdown-toggle-3 {
    display: block;
    overflow: visible;
    justify-content: flex-start;
    align-items: center;
  }
}

.image-131 {
  width: auto;
  height: 20px;
}

.dropdown-list-4 {
  background-color: hsla(0, 17.58%, 75.73%, 1.00);
}

.dropdown-list-4:global(.w--open) {
  width: 120px;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .dropdown-list-4 {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

@media screen and (max-width: 991px) {
  .dropdown-list-4:global(.w--open) {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-list-4 {
    margin-left: -8px;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-list-4 {
    display: none;
    margin-left: -4px;
  }
}

.locales-list {
  width: 120px;
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .locales-list {
    display: flex;
    width: 250px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .locales-list {
    margin-top: 6px;
  }
}

@media screen and (max-width: 479px) {
  .locales-list {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    flex: 0 0 auto;
  }
}

.locale {
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .locale {
    display: flex;
    width: 120px;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;

    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .locale {
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: flex-start;
    flex: 0 0 auto;
  }
}

.image-130 {
  width: auto;
  height: 20px;
  max-width: none;
}

.link {
  display: block;
}

.link:global(.w--current) {
  display: inline;
}

@media screen and (max-width: 991px) {
  .link:global(.w--current) {
    display: flex;
    padding: 20px 20px 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 auto;

    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .link:global(.w--current) {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 479px) {
  .link:global(.w--current) {
    display: flex;
    padding: 0px 20px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 2vh;
  }
}

@media screen and (max-width: 479px) {
  .link.cureo-paragraph-2-copy:global(.w--current) {
    font-size: 12px;
  }
}

.link.cureo-paragraph-2-copy.navtext {
  width: 50px;
}

@media screen and (max-width: 991px) {
  .link.cureo-paragraph-2-copy.navtext {
    width: 100px;
    padding: 20px 20px 20px 5px;
  }
}

@media screen and (max-width: 991px) {
  .link.cureo-paragraph-2-copy.navtext:global(.w--current) {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .link.cureo-paragraph-2-copy.navtext {
    font-family: Roboto;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .link.cureo-paragraph-2-copy.navtext:global(.w--current) {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .link.cureo-paragraph-2-copy.navtext:global(.w--current) {
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 991px) {
  .menu-button {
    background-color: hsla(0, 20.78%, 62.97%, 0.00);
  }
}

@media screen and (max-width: 991px) {
  .menu-button:global(.w--open) {
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
    color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  }
}

@media screen and (max-width: 767px) {
  .menu-button:global(.w--open) {
    color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  }
}

@media screen and (max-width: 991px) {
  .icon-3 {
    border-radius: 0px;
    background-color: hsla(81.95121951219512, 0.00%, 100.00%, 1.00);
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .icon-3 {
    background-color: hsla(81.95121951219512, 0.00%, 100.00%, 1.00);
    font-size: 5vw;
  }
}

@media screen and (max-width: 479px) {
  .icon-3 {
    font-size: 34px;
  }
}