.footer-lp {
  align-self: stretch;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.2);
}

.uui-footer03_component {
  align-self: stretch;
}

.uui-page-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .uui-page-padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.uui-padding-vertical-xlarge {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .uui-padding-vertical-xlarge {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-padding-vertical-xlarge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-padding-vertical-xlarge {
    align-items: center;
  }
}

.uui-footer03_top-wrapper {
  display: grid;
  flex-direction: row;
  justify-items: start;
  align-items: stretch;
  align-content: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 4vw;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .uui-footer03_top-wrapper {
    grid-auto-flow: column;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .uui-footer03_top-wrapper {
    justify-items: start;
    align-items: stretch;
    align-self: center;
    grid-row-gap: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer03_top-wrapper {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: center;
    order: -1;
    grid-auto-flow: row;
  }
}

.uui-footer03_left-wrapper {
  display: flex;
  margin-top: 0rem;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .uui-footer03_left-wrapper {
    align-items: center;
    align-self: center;
    order: 0;
  }
}

.uui-footer03_logo-link {
  display: block;
  margin-bottom: 1rem;
  float: none;
}

@media screen and (max-width: 767px) {
  .uui-footer03_logo-link {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: stretch;
  }
}

.uui-logo_component {
  display: flex;
  width: auto;
  height: 2rem;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .uui-logo_component {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .uui-logo_component {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .uui-logo_component {
    justify-content: center;
    order: -1;
  }
}

.uui-logo_logotype {
  width: auto;
  height: 100%;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .uui-logo_logotype {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-logo_logotype {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .uui-logo_logotype {
    width: 70%;
    object-fit: contain;
  }
}

.uui-logo_image {
  display: none;
  width: auto;
  height: 100%;
  flex: 0 0 auto;
}

.uui-footer03_details-wrapper {
  max-width: 20rem;
}

@media screen and (max-width: 479px) {
  .uui-footer03_details-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}

.uui-footer03_social-list {
  display: grid;
  margin-top: 2rem;
  justify-items: start;
  align-items: center;
  align-content: end;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .uui-footer03_social-list {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer03_social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }
}

.uui-footer03_social-link {
  display: flex;
  align-items: flex-start;

  transition: all 300ms ease;

  color: var(--untitled-ui-gray400);
  font-size: 14px;
  text-decoration: none;
}

.uui-footer03_social-link:hover {
  color: var(--untitled-ui-gray500);
}

@media screen and (max-width: 767px) {
  .uui-footer03_social-link:hover {
    color: var(--untitled-ui-gray400);
  }
}

.social-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icon.yt {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.45;
  object-fit: fill;
}

.image-62 {
  width: 30px;
  height: 30px;
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  opacity: 0.54;
  filter: contrast(55%);
}

.image-62:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  opacity: 0.75;
  -webkit-text-stroke-color: var(--untitled-ui-success700);
}

.uui-footer03_menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .uui-footer03_menu-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer03_menu-wrapper {
    display: block;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-self: auto;
    order: 1;
    grid-template-columns: 1fr;
  }
}

.uui-footer03_link-list-copy {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
}

@media screen and (max-width: 767px) {
  .uui-footer03_link-list-copy {
    justify-content: center;
    align-self: auto;
  }
}

@media screen and (max-width: 479px) {
  .uui-footer03_link-list-copy {
    display: grid;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    grid-auto-flow: row dense;
    grid-auto-columns: 200%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "."
    "."
    ".";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    font-size: 12px;
  }
}

.uui-footer03_link {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0rem;

  transition: all 300ms ease;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--cureo_buttontext);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.uui-footer03_link:hover {
  color: var(--cureo_green);
}

@media screen and (max-width: 767px) {
  .uui-footer03_link:hover {
    color: var(--cureo_buttontext);
  }
}

@media screen and (max-width: 479px) {
  .uui-footer03_link {
    font-size: 12px;
  }
}

.div-block-125 {
  display: grid;
  width: 50%;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". ."
  ". Area";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .div-block-125 {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .div-block-125 {
    width: 100%;
  }
}

.image-49 {
  width: 80px;
  height: 80px;
  max-width: none;
}

@media screen and (max-width: 479px) {
  .image-49 {
    height: 80px;
    max-width: none;
  }
}

.image-47 {
  width: auto;
  height: 50px;
  max-width: none;
}

@media screen and (max-width: 991px) {
  .image-47 {
    width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .image-47 {
    width: auto;
    height: 50px;
    max-width: none;
  }
}

.image-114 {
  overflow: hidden;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.image-46 {
  position: relative;
  left: 0%;
  height: 90px;
  max-width: none;
}

@media screen and (max-width: 991px) {
  .image-46 {
    max-width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .image-46 {
    height: 100px;
  }
}

.uui-footer03_bottom-wrapper {
  display: flex;
  margin-top: 4rem;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--untitled-ui-gray200);
}

@media screen and (max-width: 767px) {
  .uui-footer03_bottom-wrapper {
    margin-top: 3rem;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.uui-footer03_legal-list {
  display: none;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  white-space: normal;
}

@media screen and (max-width: 767px) {
  .uui-footer03_legal-list {
    margin-bottom: 1rem;
  }
}

#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab28a-54eab284 {
  align-self: stretch;
}
#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2a2-54eab284 {
  justify-self: center;
  align-self: stretch;
}
#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2aa-54eab284 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: stretch;
  justify-self: center;
}
#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2ab-54eab284 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2ad-54eab284 {
}
#w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2ae-54eab284 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 767px) {
  #w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2a2-54eab284 {
    justify-self: start;
  }
  #w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2aa-54eab284 {
    align-self: stretch;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2a2-54eab284 {
    align-self: start;
  }
  #w-node-_73ad6d9f-c6ee-e3e2-e756-0a7454eab2aa-54eab284 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    align-self: center;
    justify-self: center;
  }
}