.contactsection {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 200vh;
  max-width: 1400px;
  min-height: 70vh;
  min-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 25px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 8px;

  background-color: var(--cureo_green);
}

@media screen and (max-width: 991px) {
  .contactsection {
    height: auto;
    padding-bottom: 5px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .contactsection {
    height: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .contactsection {
    overflow: hidden;
    height: 110vh;
    padding-top: 30px;
    padding-bottom: 10px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.contactsection.full-width {
  max-width: none;
}

@media screen and (max-width: 479px) {
  .contactsection.full-width {
    height: auto;
    min-height: auto;
    min-width: 320px;
  }
}

.contactsection.full-width.max-h-220 {
  max-height: 220vh;
}

@media screen and (max-width: 991px) {
  .contactsection.full-width.max-h-220 {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .contactsection.full-width.max-h-220 {
    min-width: 500px;
  }
}

@media screen and (max-width: 479px) {
  .contactsection.full-width.max-h-220 {
    min-width: 360px;
  }
}

.contactsectioncontent {
  display: flex;
  width: auto;
  max-height: none;
  max-width: 1400px;
  min-height: auto;
  min-width: 990px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .contactsectioncontent {
    display: flex;
    width: 90%;
    min-width: 768px;
    flex-direction: column;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

@media screen and (max-width: 767px) {
  .contactsectioncontent {
    min-width: 550px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 479px) {
  .contactsectioncontent {
    width: 100%;
    min-width: 320px;
    align-items: center;
    align-self: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.cureo-heading-0 {
  display: block;
  margin: 0px auto;
  justify-content: center;

  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 56px;
  line-height: 70px;
  font-weight: 700;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .cureo-heading-0 {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .cureo-heading-0 {
    font-size: 45px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-0 {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;

    font-family: Roboto;
    font-size: 32px;
    line-height: 45px;
    text-align: left;
  }
}

.cureo-heading-0.align-middle {
  display: block;
  align-self: center;
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.align-middle {
    display: block;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
  }
}

.cureo-heading-0.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.align-middle.white.lowerspace {
    margin-bottom: 5px;
  }
}

.cureo-heading-0.align-middle.white.outline {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.cureo-heading-0.align-middle.white.outline.shadow {
  font-size: 46px;
  -webkit-text-stroke-width: 0.1px;
  text-shadow: -5px 5px 0 rgba(0,0,0,0.2);
}

.cureo-heading-0.align-middle.white.outline.shadow.margin {
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.align-middle.white.outline.shadow.margin {
    line-height: 65px;
    text-shadow: -2px 2px 0 rgba(0,0,0,0.2);
  }
}

.cureo-heading-0.align-middle.margin {
  display: block;
}

.cureo-heading-0.align-middle.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.first {
    order: -1;
  }
}

.cureo-heading-0.align-left {
  justify-content: flex-start;
}

.cureo-heading-0.justify-left {
  justify-content: flex-start;
}

.cureo-heading-0.align-center {
  color: var(--cureo-grey);
  font-weight: 700;
  text-align: center;
}

.cureo-heading-0.align-center:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-0.align-center {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .cureo-heading-0.align-center {
    width: 80%;
    font-size: 40px;
    word-break: normal;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.align-center {
    width: 95%;
    margin-top: 5px;
    font-size: 32px;
    line-height: 45px;
  }
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-0.align-center.white:lang(de-de) {
  color: var(--lynx-white);
  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-0.green {
  color: var(--cureo_green);
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.green {
    padding-left: 0px;
    font-size: 42px;
  }
}

.cureo-heading-0.green.align-left {
  margin-left: 0px;
  align-self: flex-start;
}

.cureo-heading-0.green.align-left.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.green.align-left.margin-bottom {
    font-size: 28px;
    line-height: 28px;
  }
}

.cureo-heading-0.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-0.white.align-center.flex {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-0.wrapanywhere {
    overflow-wrap: anywhere;
  }
}

.contactstepsdiv {
  display: flex;
  width: 50%;
  margin-top: 15px;
  padding-right: 5px;
  padding-left: 0%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .contactstepsdiv {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .contactstepsdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.contactform {
  display: flex;
  width: 90%;
  height: 50%;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
}

@media screen and (max-width: 991px) {
  .contactform {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .contactform {
    height: auto;
    justify-content: space-around;
  }
}

@media screen and (max-width: 479px) {
  .contactform {
    height: auto;
    margin-top: 0px;
  }
}

.div-block-195 {
  display: flex;
  width: 50%;
  height: 10%;
  margin-bottom: 1px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 8px;
}

@media screen and (max-width: 479px) {
  .div-block-195 {
    width: 90%;
    grid-column-gap: 11px;
    grid-row-gap: 11px;
  }
}

.cureo-heading-2 {
  display: block;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  direction: ltr;
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-transform: none;
  overflow-wrap: normal;
}

.cureo-heading-2:lang(de-de) {
  color: var(--cureo-grey);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cureo-heading-2.align-middle {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.align-middle {
    line-height: 22px;
  }
}

.cureo-heading-2.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-2.bold {
  font-weight: 700;
}

.cureo-heading-2.bold:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.bold.white.relative {
  position: relative;
  top: 0vh;
}

.cureo-heading-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-2.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.justify-left {
  display: flex;
}

.cureo-heading-2.justify-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.align-left {
  display: block;
  align-self: center;
  text-align: left;
}

.cureo-heading-2.align-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.cureo-heading-2.normal {
  font-weight: 400;
}

.cureo-heading-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.breakline {
  white-space: normal;
}

.cureo-heading-2.size-l {
  line-height: 35px;
}

.cureo-heading-2.height-l {
  line-height: 44px;
}

.cureo-heading-2.padding:lang(de-de) {
  color: var(--cureo-grey);
}

.cureo-heading-2.center:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.nocolor {
  color: var(--cureo-grey);
}

.cureo-heading-2.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
}

.button.cureo_mainbutton {
  margin-top: 30px;
  margin-right: 30px;

  border-width: 1px;
  border-radius: 8px;

  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

  outline-color: black;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  font-family: Roboto;
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}

.button.cureo_mainbutton:hover {
  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton {
    display: flex;
    width: 180px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton:global(.w--current) {
    width: 150px;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton {
    display: flex;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    align-self: auto;
    flex: 0 auto;

    font-size: 12px;
  }
}

.button.cureo_mainbutton.middle {
  display: flex;
  width: 20vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

  text-align: center;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.middle {
    width: 40vw;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.nomargin {
    margin-top: 0px;
  }
}

.button.cureo_mainbutton.blue {
  border-color: hsla(208.42105263157896, 65.52%, 5.69%, 1.00);
}

.button.cureo_mainbutton.blue:hover {
  background-color: hsla(177.1153846153846, 51.49%, 39.61%, 0.47);
}

.button.cureo_mainbutton.margin-none {
  margin-right: 0px;
}

.button.cureo_mainbutton.wide:global(.w--current) {
  display: none;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide {
    width: 200px;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide:global(.w--current) {
    width: 200px;
  }
}

.button.cureo_mainbutton.wide.media {
  display: block;
  margin-top: 10px;
  align-self: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .button.cureo_mainbutton.wide.media {
    display: flex;
    height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.wide.media {
    font-size: 14px;
  }
}

.button.cureo_mainbutton.high2x {
  font-size: 18px;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.high2x {
    height: 40px;
    font-size: 16px;
  }
}

.button.cureo_mainbutton.width-2x {
  font-size: 18px;
}

@media screen and (max-width: 479px) {
  .button.cureo_mainbutton.width-2x {
    width: 200px;
    font-size: 16px;
  }
}

.div-block-196 {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .div-block-196 {
    align-self: auto;
  }
}

.form-block {
  width: 100%;
  margin-bottom: 0px;
  margin-left: 0px;
  align-self: center;
}

@media screen and (max-width: 991px) {
  .form-block {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .form-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 479px) {
  .form-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
}

.form {
  padding: 20px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 8px;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .form {
    display: flex;
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.text-field-2 {
  margin-top: 10px;
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  .text-field-2 {
    height: 4vw;
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .text-field-2 {
    height: 5vw;
  }
}

@media screen and (max-width: 479px) {
  .text-field-2 {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 0 auto;
  }
}

.textarea {
  border-radius: 8px;
  font-family: Roboto;
}

@media screen and (max-width: 479px) {
  .checkbox-field {
    margin-bottom: 10px;
  }
}

.recaptcha {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 8px;

  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .submit-button {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0.00%, 100.00%, 1.00);
    border-radius: 8px;
    background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);
  }
}

.success-message {
  border-radius: 8px;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.paragraph-white {
  width: 100%;
  margin-bottom: 0px;
  align-self: center;

  font-family: Roboto;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.25em;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .paragraph-white {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-white {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-white {
    font-size: 4vw;
  }
}

.paragraph-white.contactform-succes {
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 16px;
  font-weight: 400;
}