.lottiesec {
  display: block;
  overflow: visible;
  width: 100%;
  height: 500vh;
  flex-direction: column;
}

.lottiesec:lang(de-de) {
  display: none;
}

@media screen and (max-width: 767px) {
  .lottiesec {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .lottiesec {
    display: none;
    overflow: hidden;
    height: auto;
    align-self: auto;
  }
}

.lottiecontaiiner {
  position: sticky;
  top: 0px;

  display: flex;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  margin-top: -968px;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);

  object-fit: cover;
}

.lottiecontaiiner:lang(de-de) {
  display: none;
}

@media screen and (max-width: 991px) {
  .lottiecontaiiner {
    width: 150vw;
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .lottiecontaiiner {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .lottiecontaiiner {
    position: sticky;
    top: 0px;

    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 0px;
    justify-content: center;
    align-items: center;

    object-fit: cover;
  }
}

.lottieheadset {
  position: relative;

  overflow: visible;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: auto;
  align-self: auto;

  object-fit: cover;
}

.lottieheadset:lang(de-de) {
  display: none;
}

@media screen and (max-width: 991px) {
  .lottieheadset {
    width: 150%;
    margin-right: 0px;
    margin-left: -186px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .lottieheadset {
    align-self: auto;
  }
}

@media screen and (max-width: 479px) {
  .lottieheadset {
    position: relative;
    top: auto;

    display: flex;
    height: 50%;
    margin-top: 0px;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    flex: 0 auto;

    object-fit: cover;
  }
}