.div-block-223 {
  display: flex;
  height: auto;
  max-height: 100vh;
  min-height: 50vh;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

@media screen and (max-width: 991px) {
  .div-block-223 {
    height: auto;
    max-height: none;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .div-block-223 {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.image-110 {
  width: 50%;
  max-width: 100%;
  flex: 0 auto;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .image-110 {
    width: 80%;
    height: 50%;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .image-110 {
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .image-110 {
    width: 90%;
    max-width: 100%;
  }
}

.div-block-224 {
  display: flex;
  width: 50%;
  padding: 15px 15px 5px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  .div-block-224 {
    width: 80%;
    padding-bottom: 15px;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .div-block-224 {
    width: 90%;
    padding-bottom: 15px;
  }
}

.cureo-heading-2 {
  display: block;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  direction: ltr;
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-transform: none;
  overflow-wrap: normal;
}

.cureo-heading-2:lang(de-de) {
  color: var(--cureo-grey);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cureo-heading-2.align-middle {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.align-middle {
    line-height: 22px;
  }
}

.cureo-heading-2.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-2.bold {
  font-weight: 700;
}

.cureo-heading-2.bold:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-2.bold.white.relative {
  position: relative;
  top: 0vh;
}

.cureo-heading-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-2.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.justify-left {
  display: flex;
}

.cureo-heading-2.justify-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.align-left {
  display: block;
  align-self: center;
  text-align: left;
}

.cureo-heading-2.align-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.cureo-heading-2.normal {
  font-weight: 400;
}

.cureo-heading-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.breakline {
  white-space: normal;
}

.cureo-heading-2.size-l {
  line-height: 35px;
}

.cureo-heading-2.height-l {
  line-height: 44px;
}

.cureo-heading-2.padding:lang(de-de) {
  color: var(--cureo-grey);
}

.cureo-heading-2.center:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.nocolor {
  color: var(--cureo-grey);
}

.cureo-heading-2.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}

.div-block-229 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cureo-button-1 {
  overflow: visible;
  flex: 0 auto;

  border-radius: 8px;

  background-color: var(--cureo_green);

  transition: box-shadow 200ms ease,transform 200ms ease;

  font-family: Roboto;
  font-size: 18px;
}

.cureo-button-1:hover {
  background-color: hsla(90.82568807339449, 41.51%, 49.47%, 1.00);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  transform: translate(0px, -1px);
}

@media screen and (max-width: 479px) {
  .cureo-button-1 {
    align-self: center;
  }
}

.cureo-button-1._50percent {
  width: 30%;
}

@media screen and (max-width: 479px) {
  .cureo-button-1._50percent {
    width: auto;
  }
}

.cureo-button-1.align-center.sticky {
  position: sticky;
  left: 88%;
  top: 94%;
  right: 0%;
  bottom: auto;
  z-index: 2;
}

.cureo-button-1.align-center.justify-middle.flex {
  display: flex;
  margin-right: 30%;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
}

.cureo-button-1.white {
  background-color: var(--cureo_secondarygreen);
}

.cureo-button-1.align-left {
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}