.lookingformorediv {
  display: flex;
  overflow: hidden;
  width: 90%;
  height: 20em;
  max-width: 1400px;
  min-width: 990px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid var(--cureo_green);
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  .lookingformorediv {
    width: 60vw;
    height: 30vw;
  }
}

@media screen and (max-width: 767px) {
  .lookingformorediv {
    width: 75vw;
    height: 40vw;
  }
}

@media screen and (max-width: 479px) {
  .lookingformorediv {
    width: 90vw;
    height: 60vw;
    min-height: auto;
    min-width: auto;
    padding: 0px 1em;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.cureo-heading-2 {
  display: block;
  overflow: visible;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: auto;
  flex: 0 auto;

  direction: ltr;
  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
  text-transform: none;
  overflow-wrap: normal;
}

.cureo-heading-2:lang(de-de) {
  color: var(--cureo-grey);
  text-align: left;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 100%;
  }
}

.cureo-heading-2.align-middle {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.align-middle {
    line-height: 22px;
  }
}

.cureo-heading-2.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.align-middle.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cureo-heading-2.bold {
  font-weight: 700;
}

.cureo-heading-2.bold:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.bold.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-2.bold.white.relative {
  position: relative;
  top: 0vh;
}

.cureo-heading-2.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-2.white.align-middle.margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-2.white.align-middle.margin {
    font-size: 16px;
  }
}

.cureo-heading-2.white.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.justify-left {
  display: flex;
}

.cureo-heading-2.justify-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.align-left {
  display: block;
  align-self: center;
  text-align: left;
}

.cureo-heading-2.align-left.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.cureo-heading-2.normal {
  font-weight: 400;
}

.cureo-heading-2.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-heading-2.breakline {
  white-space: normal;
}

.cureo-heading-2.size-l {
  line-height: 35px;
}

.cureo-heading-2.height-l {
  line-height: 44px;
}

.cureo-heading-2.padding:lang(de-de) {
  color: var(--cureo-grey);
}

.cureo-heading-2.center:lang(de-de) {
  text-align: center;
}

.cureo-heading-2.nocolor {
  color: var(--cureo-grey);
}

.cureo-heading-2.nomargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-block-51 {
  display: flex;
  justify-content: space-around;
}

.cureo-button-1 {
  overflow: visible;
  flex: 0 auto;

  border-radius: 8px;

  background-color: var(--cureo_green);

  transition: box-shadow 200ms ease,transform 200ms ease;

  font-family: Roboto;
  font-size: 18px;
}

.cureo-button-1:hover {
  background-color: hsla(90.82568807339449, 41.51%, 49.47%, 1.00);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  transform: translate(0px, -1px);
}

@media screen and (max-width: 479px) {
  .cureo-button-1 {
    align-self: center;
  }
}

.cureo-button-1._50percent {
  width: 30%;
}

@media screen and (max-width: 479px) {
  .cureo-button-1._50percent {
    width: auto;
  }
}

.cureo-button-1.align-center.sticky {
  position: sticky;
  left: 88%;
  top: 94%;
  right: 0%;
  bottom: auto;
  z-index: 2;
}

.cureo-button-1.align-center.justify-middle.flex {
  display: flex;
  margin-right: 30%;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
}

.cureo-button-1.white {
  background-color: var(--cureo_secondarygreen);
}

.cureo-button-1.align-left {
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}