.lottiecontaiiner-mobile {
  position: sticky;
  top: 0px;

  display: none;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  margin-top: -968px;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);

  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .lottiecontaiiner-mobile {
    position: relative;
    right: 0px;

    display: block;
    overflow: hidden;
    width: 180%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .lottiecontaiiner-mobile {
    position: relative;
    top: 0px;
    right: 150px;

    display: block;
    overflow: hidden;
    width: 230%;
    height: auto;
    margin: 0px auto 20px;
    justify-content: center;
    align-items: center;

    object-fit: cover;
  }
}

.lottieheadset-mobile {
  position: relative;

  overflow: visible;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: auto;
  align-self: auto;

  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .lottieheadset-mobile {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 0px;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-end;
    flex: 0 auto;

    object-fit: cover;
  }
}