.section-24 {
  display: none;
  width: 100%;
  height: 70vh;
  margin-top: 1vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  .section-24 {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .section-24 {
    width: 100%;
    height: 100vw;
  }
}

@media screen and (max-width: 479px) {
  .section-24 {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    margin-top: 9vw;
  }
}

.slider-8 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: hsla(0, 0.00%, 100.00%, 0.00);
}

@media screen and (max-width: 991px) {
  .slider-8 {
    width: 100%;
    height: 50vw;
  }
}

@media screen and (max-width: 767px) {
  .slider-8 {
    width: 100%;
    height: 80vw;
  }
}

@media screen and (max-width: 479px) {
  .slider-8 {
    z-index: 1;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
}

.collection-list-wrapper-7 {
  display: block;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .collection-list-wrapper-7 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-wrapper-7 {
    height: 75vh;
  }
}

.collection-list-10 {
  display: flex;
  height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  -webkit-text-stroke-color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .collection-list-10 {
    height: 100%;
  }
}

.collection-item-8 {
  display: flex;
  height: auto;
  padding: 0px 44px;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .collection-item-8 {
    width: 100%;
    height: 100%;
    padding: 30px 8px 52px;
  }
}

@media screen and (max-width: 767px) {
  .collection-item-8 {
    width: 100%;
    height: 100vh;
    padding: 5px 5px 38px;
  }
}

@media screen and (max-width: 479px) {
  .collection-item-8 {
    height: 100%;
    padding: 10px 0px;
    flex-direction: row;
    align-self: auto;
  }
}

.refslide-copy {
  display: flex;
  overflow: visible;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 1400px;
  min-height: 50vh;
  min-width: 900px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .refslide-copy {
    width: 100%;
    height: 700px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .refslide-copy {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .refslide-copy {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
  }
}

.refslide-copy.full-width {
  width: 100%;
  max-width: none;
  min-width: auto;
  align-self: flex-start;
}

.refslide-copy.vertical {
  display: flex;
  height: 100px;
  min-height: 60vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.refimageblock {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 3px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: stretch;

  border-style: solid;
  border-width: 0px;
  border-color: hsla(90.82568807339449, 55.90%, 38.24%, 1.00);
  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .refimageblock {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 479px) {
  .refimageblock {
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
  }
}

.image-35-copy {
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .image-35-copy {
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .image-35-copy {
    overflow: hidden;
    object-fit: cover;
  }
}

.reftextblock {
  display: flex;
  width: 100%;
  margin-left: 3px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-around;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(90.82568807339449, 55.90%, 38.24%, 1.00);
  border-radius: 8px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
  .reftextblock {
    width: 100%;
    height: 50%;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .reftextblock {
    width: 100%;
    height: 50%;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-around;
  }
}

.cureo-heading-1 {
  display: block;
  margin: 0px auto;
  justify-content: center;

  font-family: Roboto;
  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
}

.cureo-heading-1:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
}

.cureo-heading-1.align-middle {
  display: block;
  align-self: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  color: var(--cureo-grey);
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-middle:lang(de-de) {
  color: var(--cureo-grey);
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-middle {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.cureo-heading-1.align-middle.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.white.lowerspace {
    margin-bottom: 5px;
  }
}

.cureo-heading-1.align-middle.white.lowerspace.margin-bottom {
  margin-bottom: 20px;
}

.cureo-heading-1.align-middle.white.outline {
  outline-color: white;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.cureo-heading-1.align-middle.white.outline.shadow {
  text-shadow: 4px 6px 2px rgba(0,0,0,0.2);
}

.cureo-heading-1.align-middle.white.margin-t {
  margin-top: 20px;
}

.cureo-heading-1.align-middle.margin {
  display: block;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-middle.margin-top {
    margin-top: 5px;
  }
}

.cureo-heading-1.align-middle.margin-bottom {
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.first {
    order: -1;
  }
}

.cureo-heading-1.margin.l {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.margin.l {
    margin-bottom: 11px;
  }
}

.cureo-heading-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-heading-1.white.align-center {
  display: block;
  color: var(--lynx-white);
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.white.align-center {
    display: block;
  }
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.cureo-heading-1.align-left {
  display: block;
  margin-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-start;

  line-height: 32px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-left {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-left.margin.m {
    margin-bottom: 6px;
  }
}

.cureo-heading-1.align-left.bold {
  line-height: 32px;
  font-weight: 700;
}

.cureo-heading-1.align-left.bold.margin-bottom {
  margin-bottom: 10px;
}

.cureo-heading-1.margin-none {
  margin-right: 0px;
  margin-left: 0px;
  color: var(--cureo-grey);
  font-weight: 500;
}

.cureo-heading-1.align-center {
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;

  color: var(--cureo-grey);
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.cureo-heading-1.align-center:lang(de-de) {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991px) {
  .cureo-heading-1.align-center:lang(de-de) {
    line-height: 30px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center {
    order: -1;
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center {
  display: block;
  align-self: auto;
  text-align: center;
}

.cureo-heading-1.align-center.center.text-center {
  color: var(--cureo-grey);
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cureo-heading-1.align-center.center.text-center {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.center.text-center {
    font-size: 20px;
  }
}

.cureo-heading-1.align-center.center.bold {
  font-weight: 700;
}

.cureo-heading-1.align-center.height-double {
  line-height: 64px;
}

@media screen and (max-width: 479px) {
  .cureo-heading-1.align-center.height-double {
    order: -1;
  }
}

.cureo-heading-1.align-center.bold {
  font-weight: 700;
}

.cureo-heading-1.margin-bottom {
  margin-bottom: 10px;
}

.cureo-paragraph-1 {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.cureo-paragraph-1:hover {
  color: black;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1 {
    text-align: center;
  }
}

.cureo-paragraph-1.align-center {
  font-size: 16px;
  text-align: center;
}

.cureo-paragraph-1.align-center:hover {
  color: black;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 991px) {
  .cureo-paragraph-1.align-center {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-center {
    font-size: 16px;
    text-align: center;
  }
}

.cureo-paragraph-1.align-center.align-middle {
  width: 66%;
  align-self: center;
  color: var(--cureo-grey);
}

.cureo-paragraph-1.align-center.align-middle._w-s {
  width: auto;
  font-size: 14px;
  text-align: center;
}

.cureo-paragraph-1.align-center.margin-none.size-none {
  line-height: 14px;
  font-weight: 500;
}

.cureo-paragraph-1.align-center.align-center-full {
  text-align: center;
}

.cureo-paragraph-1.white {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white {
    font-weight: 400;
  }
}

.cureo-paragraph-1.white.margin {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.white.margin.small {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.cureo-paragraph-1.white.align-center {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cureo-paragraph-1.align-block {
  text-align: justify;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-block {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin {
    margin-right: auto;
    margin-left: auto;
  }
}

.cureo-paragraph-1.align-stretch {
  align-self: stretch;
}

.cureo-paragraph-1.margin-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cureo-paragraph-1.margin-none.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-none {
  line-height: 14px;
}

.cureo-paragraph-1.height-s {
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .cureo-paragraph-1.height-s {
    font-size: 14px;
  }
}

.cureo-paragraph-1.height-s.align-center {
  color: hsla(0, 0.00%, 14.67%, 1.00);
}

.cureo-paragraph-1.height-s.align-center.margin-l-r {
  margin-right: 5px;
  margin-left: 5px;
}

.cureo-paragraph-1.non-blue {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(0, 0.00%, 10.00%, 1.00);
}

.cureo-paragraph-1.margin-bottom {
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-bottom.align-left {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.align-left {
    text-align: left;
  }
}

.cureo-paragraph-1.margin-top {
  margin-top: 5px;
}

@media screen and (max-width: 479px) {
  .cureo-paragraph-1.margin-top {
    text-align: center;
  }
}

.cureo-paragraph-1.bold {
  font-weight: 700;
}

.refbuttonblock {
  display: flex;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  font-size: 100%;
}

@media screen and (max-width: 991px) {
  .refbuttonblock {
    display: flex;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  .refbuttonblock {
    display: grid;
    width: 100%;
    height: 20%;
    flex-direction: column;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .refbuttonblock {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 0px 0px 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    font-family: Roboto;
    font-size: 12px;
    text-align: left;
  }
}

.button-2 {
  position: sticky;
  top: 0px;

  display: flex;
  overflow: auto;
  width: 25vh;
  height: 5vh;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: auto;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
  border-radius: 8px;

  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);

  transition: background-color 200ms ease,box-shadow 200ms ease;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button-2:hover {
  border: 1px solid var(--cureo_green);
  background-color: hsla(81.95121951219512, 40.62%, 46.93%, 1.00);
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.2);
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .button-2 {
    overflow: hidden;
    width: 22vw;
    height: 5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 767px) {
  .button-2 {
    width: 24vw;
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .button-2 {
    display: flex;
    width: 35vw;
    height: 8vw;
    margin-bottom: 20px;
    padding: 5px;
    flex-direction: column;
    align-self: center;
    flex: 0 0 auto;

    font-family: Roboto;
    font-size: 3.2vw;
  }
}

.cureo-button-1 {
  overflow: visible;
  flex: 0 auto;

  border-radius: 8px;

  background-color: var(--cureo_green);

  transition: box-shadow 200ms ease,transform 200ms ease;

  font-family: Roboto;
  font-size: 18px;
}

.cureo-button-1:hover {
  background-color: hsla(90.82568807339449, 41.51%, 49.47%, 1.00);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  transform: translate(0px, -1px);
}

@media screen and (max-width: 479px) {
  .cureo-button-1 {
    align-self: center;
  }
}

.cureo-button-1._50percent {
  width: 30%;
}

@media screen and (max-width: 479px) {
  .cureo-button-1._50percent {
    width: auto;
  }
}

.cureo-button-1.align-center.sticky {
  position: sticky;
  left: 88%;
  top: 94%;
  right: 0%;
  bottom: auto;
  z-index: 2;
}

.cureo-button-1.align-center.justify-middle.flex {
  display: flex;
  margin-right: 30%;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
}

.cureo-button-1.white {
  background-color: var(--cureo_secondarygreen);
}

.cureo-button-1.align-left {
  display: flex;
  margin-right: auto;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.image-35 {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .image-35 {
    overflow: hidden;
    object-fit: cover;
  }
}

.left-arrow-4 {
  height: 100%;
  margin-top: 0px;
  margin-bottom: auto;
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
}

@media screen and (max-width: 479px) {
  .left-arrow-4 {
    font-size: 10vw;
  }
}

.icon-6 {
  color: hsla(0, 0.00%, 100.00%, 1.00);
  -webkit-text-stroke-color: hsla(0, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .icon-6 {
    margin-left: 0px;
    color: hsla(0, 0.00%, 0.00%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .icon-6 {
    margin-left: 5px;
    font-size: 6vw;
  }
}

.right-arrow-4 {
  height: 100%;
  margin-top: 0px;
  margin-bottom: auto;
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
}

@media screen and (max-width: 479px) {
  .right-arrow-4 {
    z-index: 1;
    font-size: 10vw;
  }
}

.icon-7 {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .icon-7 {
    margin-right: 0px;
    color: hsla(0, 0.00%, 0.00%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .icon-7 {
    margin-right: 5px;
    font-size: 6vw;
  }
}

.slide-nav-5 {
  top: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .slide-nav-5 {
    position: static;
    top: 854.75px;

    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    flex-direction: row;
  }
}