.section-21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .section-21 {
    width: 96%;
    height: 100vh;
    margin-bottom: 15px;
  }
}

.collection-list-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-item-6 {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .collection-item-6 {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .image-26 {
    height: 50%;
    border-radius: 8px;
    object-fit: cover;
  }
}

.lynx-content-4 {
  display: flex;
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .lynx-content-4 {
    height: 50%;
    max-width: 100%;
  }
}

.lynx-grid-faq-3 {
  display: flex;
  width: 100%;
  margin-top: 14px;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .lynx-grid-faq-3 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .lynx-grid-faq-3 {
    height: 100%;
  }
}

.lynx-block-faq-4 {
  display: flex;
  width: 100%;
  max-width: 840px;
  flex-direction: column;
  grid-row-gap: 14px;
}

@media screen and (max-width: 479px) {
  .lynx-block-faq-4 {
    max-width: none;
  }
}

.lynx-accordion-item-border-3 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 0 auto;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(36.92307692307689, 16.88%, 84.90%, 1.00);
  border-radius: 20px;
}

@media screen and (max-width: 479px) {
  .lynx-accordion-item-border-3 {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
}

.lynx-accordion-header-3 {
  display: flex;
  padding: 15px 15px 15px 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: padding 300ms ease;

  cursor: pointer;
}

.lynx-accordion-header-3:hover {
  padding-left: 35px;
}

@media screen and (max-width: 479px) {
  .lynx-accordion-header-3 {
    height: 33%;
    flex-direction: column;
  }
}

.lynx-heading-accordion-small-3 {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;

  font-family: 'PT Serif', serif;
  color: var(--cureo_green);
  font-size: 18px;
  line-height: 132%;
  font-weight: 400;
}

.lynx-icon-arrow-4 {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;

  border-radius: 50%;

  background-color: var(--cureo_green);
  background-image: url("https://cdn.prod.website-files.com/6548c6e5ab9a929dbb64e897/655f2015a10f88581683b732_Arrow_3.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.lynx-accordion-content-4 {
  overflow: hidden;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 479px) {
  .lynx-accordion-content-4 {
    display: flex;
    width: 100%;
    height: 66%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.paragraph-1 {
  font-family: Roboto;
  font-size: 1.45vw;
  line-height: 1.35em;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .paragraph-1 {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-1 {
    font-size: 1.9vw;
    text-align: justify;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-1 {
    overflow: visible;
    font-family: Roboto;
    font-size: 4vw;
    text-align: justify;
  }
}

.paragraph-white {
  width: 100%;
  margin-bottom: 0px;
  align-self: center;

  font-family: Roboto;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1.25em;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .paragraph-white {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-white {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-white {
    font-size: 4vw;
  }
}

.paragraph-1.left {
  display: flex;
  justify-content: center;
}

.paragraph-1.left.vertical {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.paragraph-1.centered {
  text-align: justify;
}

.paragraph-1.centered.space {
  padding: 0px 10px;
}

.paragraph-1.align-left {
  text-align: left;
}

.pagination-2 {
  margin-top: 10px;
}

.previous {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 99px;
}

@media screen and (max-width: 479px) {
  .previous {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex: 0 0 auto;

    border-radius: 999px;
  }
}

.icon-5 {
  display: flex;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.next-2 {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 auto;

  border-radius: 99px;
}

@media screen and (max-width: 479px) {
  .next-2 {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 0 0 auto;

    border-radius: 99px;

    text-align: center;
  }
}

.icon-4 {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  text-align: left;
}

@media screen and (max-width: 479px) {
  .icon-4 {
    display: inline-block;
    margin-left: 0px;
    flex: 1;
    font-size: 20px;
  }
}