.slidediv {
  height: 70%;
  background-image: url("https://cdn.prod.website-files.com/6548c6e5ab9a929dbb64e897/654a12d4c753b8b26e2b0d2c_DSC04227_komprimiert.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.slidediv.slideimage {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;

  background-image: none;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .slidediv.slideimage {
    width: 100%;
    height: 100%;
  }
}

.slideimg {
  height: 80%;
  align-self: stretch;
  flex: 0 auto;
}

.slidetextblock {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roundbutton {
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;

  background-color: hsla(81.95121951219512, 65.08%, 37.06%, 1.00);
}

.roundbutton:hover {
  background-color: hsla(81.95121951219512, 64.84%, 33.16%, 1.00);
}

.roundbutton:active {
  background-color: hsla(81.95121951219512, 64.84%, 29.93%, 1.00);
}